<!--New Contact Form--> 
<div layout="column" layout-padding="" ng-cloak="" class="contactForm">
  <md-content class="md-no-momentum">
    <form name="contactForm">

      <!--Name-->
      <md-input-container class="md-block">
        <md-icon md-svg-icon="avatar" class="name"></md-icon>
        <input name="name" ng-model="formData.name" type="text" placeholder="Name"
        ng-required="true">
      </md-input-container>

      <!--Surname-->
      <md-input-container class="md-block"> 
        <input name="surname" ng-model="formData.surname" type="text" placeholder="Surname"
        ng-required="true">
      </md-input-container>

      <!--Phone-->
      <md-input-container class="md-block"> 
      <md-icon md-svg-icon="phone" class="phone"></md-icon>
        <input name="phone" ng-model="formData.phone" type="tel" placeholder="Phone Number"
        ng-pattern="/^[0-9]{9}$/">
        <div ng-messages = "formData.phone.$error" role="alert">
          <div ng-message-exp="['pattern']"> Please enter a valid phone number </div>
        </div>
      </md-input-container>

      <!--Email-->
      <md-input-container class="md-block"> 
      <md-icon md-svg-icon="email" class="email"></md-icon>
        <input name="email" ng-model="formData.email" type="email" placeholder="Email"
        ng-pattern="/^.+@.+\..+$/">
        <div ng-messages = "formData.email.$error" role="alert">
          <div ng-message-exp="['pattern']"> Please enter a valid email </div>
        </div>
      </md-input-container>

      <!--Address-->
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="">
          <md-icon md-svg-icon="address" class="address"></md-icon>
          <input name="country" ng-model="formData.address.country" type="text" placeholder="Country">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm=""> 
          <input name="city" ng-model="formData.address.city" type="text" placeholder="City">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm=""> 
          <input name="street" ng-model="formData.address.street" type="text" placeholder="Street">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>Postal Code</label>
          <input name="postalCode" ng-model="formData.address.pc" placeholder="12345"
          ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
          <div ng-messages="formData.address.pc.$error" role="alert">
            <div ng-message="pattern" class="my-message">Not valid postal code</div>
          </div>
        </md-input-container>
      </div>

      <!--Birthday-->
      <md-datepicker ng-model="formData.birthday" md-current-view="year" md-placeholder="Enter date">
      </md-datepicker>
    </form>

    <md-button id="save" ng-disabled="contactForm.$error.required" ng-click="app.save()"
    class="md-raised md-primary">Save</md-button>

  </md-content>
</div>