<!doctype html> 
<html ng-app="contactsApp"> 
	<head> 
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Alex Cuesta">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		
		<title>Contacts</title>
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
		<link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
		<link rel="stylesheet" href="css/app.css">
	</head>

	<body ng-cloak layout="column" ng-controller="mainController as app">

  	<!-- Container #1 (see wireframe) -->
    <md-toolbar layout="row" class="md-toolbar-tools">
      <md-button class="menu md-icon-button" hide-gt-sm ng-click="app.toggleList()"
      aria-label="Show Contact List">
        <md-icon md-svg-icon="menu"></md-icon>
      </md-button>
    	<h1 class="home" ng-click="app.goto('/view')">Contact List App</h1>
    </md-toolbar>

    <!-- Container #2 -->
    <div flex layout="row">

    <!-- Container #3 -->
    <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
    md-component-id="left">
      <contact-list>
        <md-input-container class="search"> 
          <input ng-model="nameFilter" type="text" placeholder="Search contact">
          <md-icon md-svg-icon="search" style="display:inline-block;" class="search"></md-icon>
        </md-input-container>

      	<md-list ng-click="app.toggleList()">
          <md-list-item ng-repeat="contact in contacts | filter: nameFilter | orderBy:'name'">
            <md-button ng-click="app.view('/view',contact._id)">
              <md-icon class="md-avatar-icon" md-svg-icon="avatar"></md-icon>
              {{contact.name}}, {{contact.surname}}
            </md-button>
              <md-button class="md-icon-button md-accent" aria-label="Delete" 
              ng-click="showConfirm(contact._id)">
              <md-icon md-svg-icon="delete"></md-icon>
            </md-button>
          </md-list-item>
      	</md-list>
    	</contact-list>
    </md-sidenav>

    <!-- Container #4 -->
    <md-content flex id="content">
  	  <div ng-view></div>
    </md-content>

    <!-- Angular.js Libraries -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-messages/angular-messages.js"></script>
    <!-- Angular Material Library -->
    <script src="node_modules/angular-material/angular-material.js"></script>
    <!-- My app's files -->
  	<script src="app/main.js"></script>
  	<script src="app/controllers/mainController.js"></script>

	</body> 
</html>